.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #555;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
}
