*{transition: all 150ms ease-in-out;}
body {background: #f8f9fa !important;}
.brand-bg{background: #0f94f8;}
.navbar-default .navbar-brand {
    color: #fff !important;
}

.navbar-default {
    background-color: #f8f8f800 !important;
    border-color: #e7e7e700 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-brand img {
    width: 120px;
}

#login-buttons a, .accounts-dialog a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}

div#react-root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #0f94f6;
    z-index: 0;
}
%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

a.list-group-item {
    background: #f5f6f7;
    border: 0;
    margin: 20px;
    height: 90px;
    border-radius: 0px;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0,0,0,.1);
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background: #e6e9eb !important;
}

h5.agencyTitle {
    font-size: 2rem;
    text-transform: capitalize;
    float: left;
    width: 170px;
    font-size: 1em;
}

h5.agencyBalance {
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ff5d5d;
}

h5.agencyBody {
    position: absolute;
    top: 32px;
    right: 20px;
    font-weight: 400;
}

/* h5.submitDate {
    position: absolute;
    top: 40px;
    background: #ff605d;
    padding: 3px 25px;
    border-radius: 30px;
    color: #fff;
} */

h5.agencyStatus {
    position: absolute;
    top: 40px;
    background: #da4a47;
    padding: 3px 25px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
}

a.agencyEdit {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ff5d5d;
}

.btn-success {
    color: #fff;
    background-color: #3ddb93 !important;
    border-color: #3ddb93 !important;
}

a.pull-right.btn.btn-delete {
    right: 120px;
    position: absolute;
    background: #31dc91;
    color: #fff;
    top: 27px;
}
a.pull-right.btn.btn-edit {
    right: 20px;
    position: absolute;
    background: #31dc91;
    color: #fff;
    bottom: 10px;
}

a.pull-right.btn.btn-edit:hover {
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0,0,0,.1);
    padding: 8px 14px;
}

@media (max-width: 350px) {
.page-header h4 {
    font-size: inherit;
}
}

@media (max-width: 430px) {

.DocumentsList.list-group {
    left: 0;
    right: 0;
    position: absolute;
    top: 70px;
    padding: 0px 30px;
}

a.list-group-item {
    background: #F5F6F7;
    border: 0;
    margin: 10px;
    min-height: 90px;
    border-radius: 0px;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px #eaeaea solid;
    border-left: solid 8px #46DA95;
}

h5.agencyTitle {
    width: 170px;
    top: 10px;
    position: absolute;
        left: 75px;
}


h5.agencyStatus {
    top: 50px;
        left: 75px;
}

img.avatar {
    width: 50px;
    border-radius: 50px;
    margin-top: 9px;
}

h5.submitDate {
    position: absolute;
    top: 30px;
    left: 75px;
    font-weight: 400;
    font-size: 1.2rem;
}
.DocumentsList.list-group {
    left: 0;
    right: 0;
    position: absolute;
    top: 60px;
}

}

.navbar-default {
    background-color: #ffffff00;
    border-color: #ffffff00;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.1);
    padding: 8px 14px;
}

.pool-1-bg {background-image: url(img/pool-1.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-2-bg {background-image: url(img/pool-2.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-3-bg {background-image: url(img/pool-3.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-4-bg {background-image: url(img/pool-4.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-5-bg {background-image: url(img/pool-5.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-6-bg {background-image: url(img/pool-6.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-7-bg {background-image: url(img/pool-7.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-8-bg {background-image: url(img/pool-8.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-9-bg {background-image: url(img/pool-9.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-10-bg {background-image: url(img/pool-10.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-11-bg {background-image: url(img/pool-11.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-12-bg {background-image: url(img/pool-12.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-13-bg {background-image: url(img/pool-13.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-14-bg {background-image: url(img/pool-14.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.pool-15-bg {background-image: url(img/pool-15.jpg); height: 89.9vh; background-repeat: no-repeat; background-size: cover; background-position-x: center;}
.brand-overlay {}

/* MOBILE MENU START */

@media (max-width: 430px) {
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    position: absolute;
    background: #fff;
    top: 0;
    bottom: 0;
    z-index: 99999999999;
    height: 100vh;
    left: 0;
    right: 30%;
    padding: 20%;
    -webkit-box-shadow: 0px -1px 20px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -1px 20px 10px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-brand {
    color: #777;
    position: absolute;
    margin: auto 0;
    width: 92vw;
    text-align: -webkit-center;
}
.page-header {
  top: 60px;
  left: 15px;
  right: 15px;
  color: #ffffff;
}

.Documents .page-header {
    padding-bottom: 9px;
    margin: 0px 22px;
    border-bottom: 0px solid #eee;
    background: none;
    top: 20px;
    position: absolute;
    left: 10px;
    right: 10px;
    color: #333333 !important;
}

.Documents h3.pull-left {
    position: absolute;
    color: #333333;
    top: 33px;
}
}
/* MOBILE MENU END */
/* TABLET MENU */
@media (max-width: 767px) {

.navbar-default .navbar-brand {
    color: #777;
    position: absolute;
    margin: auto 0;
    width: 40%;
    text-align: -webkit-center;
    margin: 0px 25vw;
}
}
/* TABLET MENU END */

.Index {
    margin: 0px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    z-index: -1;
}

.Signup.pool-1-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 70px;
    padding: 10vw;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px !important;
}

/* .text-center.jumbotron{background-image: url(img/bg1.jpg);} */

/* LOADING START */


.logo-splash {position: absolute; display: inline; text-align: center; margin: auto; top: 45vh; bottom: 0; left: 0; right: 0;}
.splash-bg {position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999999; color: #ffffff;}

div#react-root .Index .splash-bg {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    z-index: 9999999;
    color: #ffffff;
}
div#react-root .Index .logo-splash {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100px;
}

div#react-root .Index img.loading-icon {
    margin: 0 auto;
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 150px;
}

/* LOADING END */
 h3.pull-left {
     position: absolute;
     color: #fff;
     top: -16px;
 }

 .btn-add {
     color: #fff;
     background-color: #5cb85c;
     border-color: #4cae4c;
     top: 0;
     position: absolute;
     right: 15px;
 }

 div#react-root .NewDocument {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #0f94f6;
    z-index: 0;
    bottom: 0;
    top: 0px;
    z-index: -1;
    padding: 30px;
    color: #ffffff;
}
div#react-root .ViewDocument {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #0d72d2;
  z-index: 0;
  bottom: 0;
  top: 60px;
  z-index: -1;
  padding: 110px 30px 30px 30px;
  color: #ffffff;
}

div#react-root .EditDocument {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   background: #0f94f6;
   z-index: 0;
   bottom: 0;
   top: 0px;
   z-index: -1;
   padding: 30px;
   color: #ffffff;
}

div#react-root .EditDocument .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}

.navbar-default {
    background-color: #ffffff00;
    border-color: #ffffff00;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.0);
    padding: 8px 14px;
}


.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    border: 0px solid transparent;
}

.navbar-toggle .collapsed .icon-bar {
    display: block;
    width: 27px;
    height: 3px;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: -10px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 29px;
    height: 3px;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 10px;
}

button.navbar-toggle.collapsed {
    margin-right: -5px;
}

.navbar-toggle .collapsed .icon-bar {
    display: block;
    width: 29px;
    height: 3px;
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 8px;
}

.page-header {
    padding-bottom: 50px;

}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}



img.loading-icon {
    margin: 0 auto;
    width: 100vw;
    height: 50px;
}

.logo-splash {
    background: #0f94f6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.center-item {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 50vw auto;
}

div#react-root .ViewDocument .btn-toolbar {
    margin-left: -5px;
    position: absolute;
    bottom: 20px;
}

div#react-root .ViewDocument a.btn.btn-default {
    background: rgba(0, 0, 0, 0.211765);
    border: 0;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    padding-top: 14px;
    color: #fff;
    right: 10px;
    position: fixed;
    bottom: 95px;
    width: 56px;
    height: 56px;
    padding: 0;
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background-color: rgba(33, 150, 243, 0.7);
}

div#react-root .ViewDocument button.text-danger.btn.btn-default {
    background: rgba(0, 0, 0, 0.21176470588235294);
    border: 0;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    padding-top: 14px;
    color: #fff;
    float: right;
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 56px;
    height: 56px;
    padding: 0;
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background-color: rgb(225, 0, 80);
}

div#react-root .ViewDocument a.text-add.btn.btn-default {
    background: #3ddb93 !important;
    border: 0;
    color: #fff;
    position: fixed;
    width: 56px;
    height: 56px;
    padding: 0;
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 60%;
    bottom: 170px;

}

a.btn.btn-default svg {
    height: 25px;
}

a.btn.btn-default svg {
  height: 20px;
  margin-top: 18px;
}

.jobtoolbar a.btn.btn-default svg {
    height: 36px;
    margin-top: 10px;
    width: 30px;
}

h4.jobstatus {
    float: right;
    top: -39px;
    position: relative;
}

button.text-danger.btn.btn-default svg {
    height: 20px;
    margin-top: 6px;
}

.backIcon {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 100%;
}

.backIcon a {
    color: #ffffff;
    cursor: pointer;
    z-index: 999999;
}

.backIcon img {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    height: 30px;
}

.backIcon svg {
    color: #ffffff;
    position: absolute;
    height: 27px;
    top: -9px;
    left: -2px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    max-height: 50px;
}

.profile-box{
  width: 100vw;
}
.profile-pic {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin: auto;
    top: 70px;
    left: 37vw;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.tech-pic {
    height: 50px;
    width: 50px;
    border-radius: 120px;
}

.jobtech li {
    display: flex;
    padding: 10px 0px 10px 0px;
    left: -30px;
    position: relative;
}

h5.techName {
    margin-left: 20px;
    vertical-align: middle;
    margin-top: 17px;
    min-width: 160px;
}

h5.jobdatedetail {
    margin-left: 20px;
    vertical-align: middle;
    margin-top: 17px;
}




div#react-root .ViewDocument .jobtech h4 {
    text-align: left !important;
    margin: 0px 0px 13px 0px;
}
div#react-root .ViewDocument .jobitems h4 {
    text-align: left !important;
    margin: 0px 0px 13px 0px;
}
div#react-root .ViewDocument .jobdate h4 {
    text-align: left !important;
    margin: 0px 0px 13px 0px;
}
div#react-root .ViewDocument .jobtoolbar h4 {
    text-align: left !important;
    margin: 0px 0px 13px 0px;
}


div#react-root .ViewDocument .profile-pic {
    position: absolute;
    height: 100px;
    max-width: 100px;
    border-radius: 100px;
    margin: auto;
    top: 90px;
    left: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 5px;
    right: 0;
}

div#react-root .ViewDocument .page-header h4 {
    margin-top: 60px;
    width: 100%;
    position: relative;
    text-align: -webkit-center;
}

div#react-root .ViewDocument .page-header {
  top: 21vh !important;
  min-height: 200px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.1);
  color: #333;
}


.pagetitle {
  position: absolute;
  top: -16px;
  left: 32px;
  font-weight: 400;
}


.card {
    padding-bottom: 9px;
    margin: 10px 0px;
    border-bottom: 1px solid #eee;
    background: #ffffff;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.1);
    top: 60px;
    left: 15px;
    right: 15px;
    color: #333333;
    min-height: 150px;
    padding: 20px;
}

.divider {
    border-bottom: #dcdcdc solid 1px;
    width: 100%;
}

.jobtoolbar {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 80px;
}


.btn-onroute {
  position: relative !important;
  top: 10px;
  margin: 0 auto;
  background: #5eb5f9 !important;
  background: #adb3b9 !important;
  }

.btn-startjob {
  position: relative !important;
  top: 10px;
  margin: 0 auto;
  background: #3ddb93 !important;
  background: #adb3b9 !important;
  }

.btn-stopjob {
  position: relative !important;
  top: 10px;
  margin: 0 auto;
  background: #e10050 !important;
  background: #adb3b9 !important;
  }
.btn-onroute.active {background: #5eb5f9 !important;}
.btn-startjob.active {background: #3ddb93 !important;}
.btn-stopjob.active {background: #e10050 !important;}
a.btn.btn-onroute svg {color:#ffffff;}
a.btn.btn-startjob svg {color:#ffffff;}
a.btn.btn-stopjob svg {color:#ffffff;}
.contact-links {
    position: relative;
    right: 0px;
    top: 5px;
    width: 75px;
}
.btn-message{}
.btn-call{}
div#react-root .ViewDocument .contact-links a.btn.btn-default {
    border: 0;
    padding-top: 0px;
    color: #fff;
    right: 10px;
    bottom: 95px;
    width: 40px;
    height: 40px;
    padding: 0;
    min-width: 0;
    border-radius: 50%;
    margin: 0px -3px;
    position: initial;
    background-color: rgba(216, 216, 216, 0.0);
    box-shadow: none;
    float: left;
}

div#react-root .ViewDocument .contact-links svg {
    color: #fff;
    fill: #32db91;
}

.jobtech li {
    display: flex;
    padding: 10px 0px 10px 0px;
    left: -30px;
    position: relative;
    display: -webkit-inline-box;
    min-width: 300px;
}
div#react-root .ViewDocument .contact-links a.btn.btn-default svg {
    height: 19px;
    margin-top: 11px;
}

div#react-root .Index .text-center.jumbotron {
    position: relative;
    min-height: 90vh;
    margin: 0px auto;
    padding-top: 50vw;
}

div#react-root .Index .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgba(20, 126, 242, 0.7);
}

.text-center.brand-overlay.jumbotron h2 {
    color: #fff;
    line-height: 1.2em;
    font-weight: 400;
}

h3.feature-text {
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    line-height: 1.6em;
}

div#react-root .Index .jumbotron .btn-success {
    color: #fff;
    background-color: rgba(92, 184, 92, 0) !important;
    border-color: #4cae4c;
    width: 90vw;
    padding: 10px 13px;
    border: solid 1px #ffffff !important;
    font-size: 0.7em;
    margin-top: 6px;
    max-width: 400px;
    letter-spacing: 0.1em;
}

div#react-root .Index .jumbotron .btn-success:hover {
    background-color: rgba(80, 219, 141, 0.8) !important;
    border: solid 0px #ffffff !important;
}


div#react-root .Index .pool-icon svg {
  color: #ffffff !important;
      font-size: 2em !important;
      fill: #ffffff;
}

div#react-root .Index .pool-icon {
  border: solid rgba(255, 255, 255, 0.82) 2px;
  padding: 10px;
  border-radius: 43px;
  position: relative;
  top: 0px;
  height: 50px;
  width: 50px;
  margin: auto;
}
div#react-root .Index .jumbotron #login-buttons a, .accounts-dialog a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.6em;
}

.navbar-toggle {
    border: 0px solid transparent;
}

.card.brand-bg svg {
    color: #ffffff !important;
    font-size: 2em !important;
    fill: #ffffff;
}

@media screen and (min-width: 768px) {
.page-header {
    margin-top: 20px;
    padding: 20px;
}
ul.DocumentsList.list-group {
    padding: 0 7vw;
}

}

@media screen and (max-width: 768px) {
.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, 0) !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 1px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: rgba(0, 0, 0, 0.67);
    width: 100vw;
    left: 15px;
    right: 15px;
    position: absolute;
    padding: 0px 40px;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.1);
    top: 69px;
}

.navbar-nav {
    margin: 22.5px -15px;
}

nav .navbar-nav li.active {
    padding: 6px 0px;
}
}

.pool-1-bg .row {
    background: #fff;
    border-radius: 20px;
    padding: 17px;
    -webkit-box-shadow: 0px -1px 20px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -1px 20px 10px rgba(0, 0, 0, 0.2);
    width: 80vw;
    margin: auto;
}

@media (min-width: 992px) {
  .pool-1-bg .row {
      width: 60vw;
  }
  ul.nav.navbar-nav.navbar-right {
      background: #32da91;
      border-radius: 60px;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: 5px;
  }

  .navbar-default .navbar-nav.navbar-right  > li > a {
      color: #fff !important;
      top: -5px;
  }

  .navbar-default .navbar-nav.navbar-right  > li > a:hover {
    background: rgba(0, 0, 0, 0) !important;
    border-radius: 9px;
    margin: 0px;
}

.navbar-default .navbar-nav.navbar-right >li.cta-border {
    float: left;
    border-right: rgba(0, 0, 0, 0.14901960784313725) solid 1px;
    height: 40px;
}

div#react-root  .container  .Signup{
    height: 100vh;
    max-width: 100vw;
    color: #ffffff;
}

div#react-root  .container  .Login{
    width: 970px;
    height: 91vh;
    margin: 20vh auto;
}

div#react-root  .container  .Login .row {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    background: #ffffff;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.1);
    color: #333333;
    min-height: 150px;
    padding: 20px;
    max-width: 500px;
    border-radius: 20px;
    margin: auto;
}

div#react-root  .container  .Login .page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}

div#react-root .Index .text-center.jumbotron {
    padding-top: 20vh;
}
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(231, 231, 231, 0.3);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #32db91 !important;
    border-radius: 9px;
    padding: 10px 20px;
    margin: 5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #32db91 !important;
    border-radius: 9px;
    padding: 10px 20px;
    margin: 5px;
    transition: 0.4s;
}

a:hover {
    background: rgba(0, 0, 0, 0.23) !important;
    border-radius: 9px;
    padding: 10px 20px;
    margin: 5px;
}

.navbar-header a:hover {
    background: rgba(0, 0, 0, 0) !important;
    padding-right: 15px;
    margin-left: 15px;
    padding-top: 15px;
    transition: 0.4s;
}

a.list-group-item {
    background: #F5F6F7;
    border: 0;
    margin: 10px;
    min-height: 90px;
    border-radius: 0px;
    box-shadow: 0 0.325rem 0.85rem 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px #eaeaea solid;
    border-left: solid 8px #46DA95;
}

h5.agencyTitle {
    width: 170px;
    top: 10px;
    position: absolute;
        left: 75px;
}


h5.agencyStatus {
    top: 50px;
        left: 75px;
}

img.avatar {
    width: 50px;
    border-radius: 50px;
    margin-top: 9px;
}

h5.submitDate {
    position: absolute;
    top: 30px;
    left: 75px;
    font-weight: 400;
    font-size: 1.2rem;
}
.DocumentsList.list-group {
    left: 0;
    right: 0;
    position: absolute;
    top: 120px;
    padding-bottom: 20px;
}




.remove-card .row {
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  padding: 0px;
  -webkit-box-shadow: 0px -1px 20px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px -1px 20px 10px rgba(0, 0, 0, 0);
  left: -15px;
    position: relative;
    width: 105%;
}

.remove-card .row .page-header {
    margin: 0px 0 20px;
    padding-bottom: 19px;
    color: black !important;
    padding-top: 10px;
}

div#react-root .container .Signup h4.page-header {
    margin: 0px 0 20px;
    padding-bottom: 19px;
    color: black !important;
    padding-top: 10px;
}
